!!!
html
    head
        title= "Real time web chat"
        //script(src='/chat.js')
        script(src='/assets/js/underscore/underscore-min.js')
        script(src='/assets/js/jquery/jquery-1.10.2.min.js')
        script(src='/assets/js/backbone/backbone-min.js')

        script(src='/backbone/RampBackbone.js')
        script(src='/backbone/templates/jst.js')
        script(src='/backbone/routers/router.js')
        script(src='/backbone/views/view.js')

        script(src='/socket.io/socket.io.js')
        script(src='/model-admin.js')
        script(src='/app.js')
        script(src='../public/app_canvas/javascripts/drag_and_drop.js')
        script(src='../public/app_canvas/javascripts/easeljs-0.5.0.min.js')

        //bootstrap
        link(rel='stylesheet', href='/assets/css/bootstrap/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/assets/css/bootstrap/bootstrap.min.css')
        script(src='/assets/js/bootstrap/bootstrap.min.js')

        //move to router when you get it running
        script.
          $(function(){
            view = new RampBackbone.Views.MainView({el: "#sidebar"});
            view.render();
          });

    body(onload='init();', screen_capture_injected='true', cz-shortcut-listen='true')

        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        canvas#demoCanvas(width='1000', height='500')
        #sidebar
        .controls
            input#field(style='width:350px;')
            input#send(type='button', value='send')
